.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;


}

.centered-image {
  filter: brightness(110%);
  opacity: 0.3;
  max-width: 90%;
  max-height: 100%;
}